
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

:root {
  font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial;
  overflow-x: hidden;
  color: #333;
}
body.fixed {
  /* position: fixed;
  width: 100%;
  height: 100%; */
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}
p {
  margin: 0;
  padding: 0;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* .card {
  padding: 2em;
} */

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;

  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  /* background-color: #172028; */
}
.wrapper {
  max-width: 1436px;
  margin: auto;
  flex: 1;
  @media(max-width:1600px) {
    padding-left: 64px;
    padding-right: 64px;
  }
  @media(max-width:1280px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}


.no-display-after-1400 {
  display: none!important;
}

@media(max-width:1400px) {
  .no-display-under-1400 {
    display: none!important;
  }
  .no-display-after-1400 {
    display: block!important;
  }
}


.no-display-after-1280 {
  display: none!important;
}

@media(max-width:1280px) {
  .no-display-under-1280 {
    display: none!important;
  }
  .no-display-after-1280 {
    display: block!important;
  }
}


.no-display-after-1024 {
  display: none!important;
}

@media(max-width:1024px) {
  .no-display-under-1024 {
    display: none!important;
  }
  .no-display-after-1024 {
    display: block!important;
  }
}


.no-display-after-768 {
  display: none!important;
}

@media(max-width:768px) {
  .no-display-under-768 {
    display: none!important;
  }
  .no-display-after-768 {
    display: block!important;
  }
}


.no-display-after-481 {
  display: none!important;
}

@media(max-width:481px) {
  .no-display-under-481 {
    display: none!important;
  }
  .no-display-after-481 {
    display: block!important;
  }
}

.main__visibleArea {
  overflow: hidden;
  height: calc(100% - 44px - 40px - 55px - 12px);
}

/* common */

.flex-row {
  display: flex;
  gap: 4px;
}

.flex-row.align-center {
    align-items: center;

}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* --common-- */


/* .carousel__prev,
.carousel__next {
  box-sizing: content-box;
  svg {
    fill: #00B9FC;

  }
}
.carousel__pagination-button {
  &::after {
    background-color: #354B61;
  }
}
.carousel__pagination-button--active{
  &::after {
    background-color: #00B9FC;
  }
}
.carousel__next {
  right: -30px;
}
.carousel__prev {
  left: -30px;
}

@media (max-width: 481px) {
  .carousel__next {
    right: -40px;
  }
  .carousel__prev {
    left: -40px;
  }
  
} */

.cursor-pointer {
  cursor: pointer;
}
/* common styles */


/*  */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
